dist: bionic
language: python
if: tag IS present
cache:
  - apt: true
  - directories:
    - $HOME/.cache/pip
    - $HOME/lib/R/site-library
    - /tmp/nb_cache/

python:
  - 3.7

before_install:
  - bash install_R.sh

install:
  - while sleep 9m; do echo "$SECONDS seconds"; done &
  - export MAKE='make -j 2'
  - mkdir $HOME/lib/R/site-library -p
  - echo "R_LIBS_USER=$HOME/lib/R/site-library" > ~/.Renviron
  - bash setup.sh
  - kill %1

script:
  - nbpipeline -i --definitions_file pipeline.py --run_from_root

deploy:
  provider: releases
  api_key: "$GITHUB_API_KEY"
  file: "/tmp/graph.html"
  skip_cleanup: true
  draft: true

