numpy
IPython
pandas
jupyterlab
jupyter-helpers
tqdm
rpy2
pyensembl
numba
scipy
xlrd
matplotlib
tzlocal
inflection
goatools
scikit-learn==0.22.1
enhanced_multiprocessing
gsea_api
scikit-gof
nbpipeline
pydantic
