numpy
IPython
pandas
jupyterlab
jupyter-helpers
tqdm
rpy2
pyensembl
numba
scipy
xlrd
matplotlib
tzlocal
inflection
goatools==0.8.12
scikit-learn==0.22.1
enhanced_multiprocessing
gsea_api==0.2.5
scikit-gof
nbpipeline
pydantic
